@page
@model RestFull.Presentation.Web.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row mt-4 card-deck">
        <div class="col-lg-4 col-md-6 col-12">
            <div class="card card-image mb-4" style="background-image: url(http://i0.wp.com/istanbul.intercontinental.com/wp-content/uploads/2018/10/restaurant-04-1.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h5 class="blue-text"><i class="fas fa-utensils"></i> Restaurants</h5>
                        <h3 class="card-title pt-2"><strong>Control panel</strong></h3>
                        <p>
                            This area contains the main control panel for restaurants.
                        </p>
                        <a class="btn blue-gradient" asp-page="./Restaurants/Index"><i class="fas fa-utensils"></i> Restaurants</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <div class="card card-image mb-4" style="background-image: url(https://www.keepitusable.com/blog/wp-content/uploads/2013/03/know-your-users.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h5 class="orange-text"><i class="fas fa-user-cog"></i> Users</h5>
                        <h3 class="card-title pt-2"><strong>Control panel</strong></h3>
                        <p>
                            This area contains the main control panel for users.
                        </p>
                        <a class="btn peach-gradient" asp-page="./Users/Index"><i class="fas fa-user-cog"></i> Users</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <div class="card card-image mb-4" style="background-image: url(https://www.fsb.org.uk/library-images/default-source/first-voice/listing-image/web_marketing_istock-942246116--converted.png?sfvrsn=0);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h5 class="pink-text"><i class="fas fa-chart-bar"></i> Marketing</h5>
                        <h3 class="card-title pt-2"><strong>Statistic</strong></h3>
                        <p>
                            There you can get all statistic from site. How many user use the site and others.
                        </p>
                        <a class="btn purple-gradient" asp-page="./Statistic/Index"><i class="fas fa-chart-bar"></i> Marketing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
